{% extends "base.html" %}

{% block title %}Characters{% endblock title %}

{% block extra_head %}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css">{% endblock extra_head %}

{% block extra_body %}<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>
{# Only the last table will have keyevents
<script src="{{ url('static', filepath='js/bootstrap-table-keyevents.min.js') }}"></script>
#}
<script src="{{ url('static', filepath='js/bootstrap-table-mobile.min.js') }}"></script>{% endblock extra_body %}

{% block info_alert %}Loading{% endblock info_alert %}

{% block extra_javascript %}var data, current_realm, min_stats = {}, max_stats = {};
  $(document).ready(function () {
    init_characters("{{ data_url }}", "{{ o.main_tabs[0]['id'] }}-table");
    $("#getInfo").show();
    {% for tab in o.main_tabs %}
    $("#main-tabs a[href='#{{ tab['id'] }}']").on("shown.bs.tab", function (e) {
      $("#{{ tab['id'] }}-table").bootstrapTable("load", {data: data});
    });
    $("#{{ tab['id'] }}-table").on("load-success.bs.table", function () {
      $('#getError').hide();
      $('[data-toggle="tooltip"]').tooltip();
      $('[data-toggle="popover"]').popover();
    });
    $("#{{ tab['id'] }}-table").on("load-error.bs.table", function () {
      $("#getError").show()
    });
    {% endfor %}
  });{% endblock extra_javascript %}

{% block content %}
<div role="tabpanel" class="container-fluid">
  <ul id="main-tabs" class="nav nav-tabs" role="tablist">
    {% for tab in o.main_tabs %}
    {% if loop.first %}
    <li role="presentation" class="active">
    {% else %}
    <li role="presentation">
    {% endif %}
      <a href="#{{ tab['id'] }}" aria-controls="{{ tab['id'] }}" role="tab" data-toggle="tab" class="captalize">{{ tab['title'] }}</a>
    </li>
    {% endfor %}
  </ul> <!-- /#main-tabs /.nav /.nav-tabs -->

  <!-- Tab panes -->
  <div class="tab-content">
    {% for tab in o.main_tabs %}
    {% if loop.first %}
    <div role="tabpanel" class="tab-pane active" id="{{ tab['id'] }}">
    {% else %}
    <div role="tabpanel" class="tab-pane" id="{{ tab['id'] }}">
    {% endif %}
      <div id="{{ tab['id'] }}-toolbar" class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="{{ tab['id'] }}-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Change Realm <span class="caret"></span></button>
        <ul class="dropdown-menu" aria-labelledby="{{ tab['id'] }}-dropdown">
          {% for r in realms %}
          <li><a href="#" onclick="change_realm({{ r[0] }}, '{{ tab['id'] }}-table')">{{ r[1] }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <table
        id="{{ tab['id'] }}-table"
        class="table-condensed table-striped"
        data-toggle="table"
        data-cache="true"
        data-show-columns="true"
        data-pagination="true"
        data-page-size="256"
        data-page-list="[10, 25, 50, 100, All]"
        data-show-toggle="true"
        data-search="true"
        data-key-events="true"
        data-mobile-responsive="true"
        data-check-on-init="true"
        data-min-width="640"
        data-toolbar="#{{ tab['id'] }}-toolbar"
       >
        <thead>
          <tr>
            <th data-width="25" data-formatter="inspect_formatter"></th>
            {% for c in tab['columns'] %}
            <th data-field="{{ c[0] }}" data-sortable="true" data-sort-name="sort-{{ c[0] }}" data-cell-style="cell_styler" data-formatter="super_formatter">{{ c[1] }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td></td>
            {% for c in tab['columns'] %}
            <td>{{ c[1] }}</td>
            {% endfor %}
          </tr>
        </tfoot>
      </table>
    </div> <!-- /#{{ tab['id'] }} -->
    {% endfor %}
  </div>
</div> <!-- /.container-fluid -->
{% endblock content %}
